{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
  rel="stylesheet"
/>

<div class="wrapper">
  <div class="topics-wrapper">
    <div class="title">
      <h1>Forum</h1>
    </div>
    {% for topic in topics %}
    <div class="topic">
      <div class="topic-title">
        <a href="/api/topic/{{ topic.id }}">{{ topic.title }}</a>
      </div>
      <div class="creator">
        <span class="span-little">creator: </span>{{ topic.creator.username }}
      </div>
      <div class="posts-quantity">
        <span class="span-little">posts:</span>{{ topic.posts_quantity }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
