{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'topic.css' %}" />

<div class="wrapper">
  <div class="main">
    <div class="header">
      <div class="topic-title">{{ topic.title }}</div>
      <div class="topic-content">
        <span class="span-little">creator</span> {{ topic.creator.username}}
      </div>
    </div>

    {% for post in topic.posts %}
    <div class="post">
      <div>
        <div class="creator">{{ post.creator.username }}</div>
        <div class="date">{{ post.created_at }}</div>
      </div>

      <div class="content">{{ post.content }}</div>
    </div>
    {% endfor %}
  </div>
</div>
